body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

.search-box input{
    padding:8px;
    width:250px;
}

.search-box button{
    padding:8px 15px;
    cursor:pointer;
}

.cart-icon{
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
}

nav{
    background:#444;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
}

.hero{
    text-align:center;
    padding:30px;
    background:white;
}

.title{
    text-align:center;
}

.products{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
}

.card{
    background:white;
    width:250px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
    padding:15px;
}

.card img{
    width:200px;
    height:180px;
    object-fit:cover;
}

.card button{
    background:green;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius:5px;
}

.card button:hover{
    background:darkgreen;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}

.cart-box{
    position:fixed;
    top:0;
    right:-350px;
    width:320px;
    height:100%;
    background:white;
    box-shadow:-2px 0 10px gray;
    padding:20px;
    transition:.4s;
    overflow:auto;
}

.cart-box.active{
    right:0;
}

.cart-box ul{
    list-style:none;
    padding:0;
}

.cart-box li{
    margin:15px 0;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

.remove-btn{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    float:right;
    cursor:pointer;
}